body {
  position: relative;
  min-height: 100%;
  padding-top: 30px;
}

.sub-header {
  padding-bottom: 10px;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 40px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
    font-size: 1.2em;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding: 0;
  padding-right: 20px;
  padding-left: 20px;
  margin: 5px;
}
.nav-sidebar > .active>a,
.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus {
}


.search-bar {
  margin-top: 3px;
}

.label {
  white-space: normal;
}

add-on .input-group-btn > .btn {
  border-width: 0px;
}

.add-on .input-group-btn > .btn {
  border-width: 0px;
}

.search-text {
  font-size: 1.5em;
}

.search-text span {
  postition: relative;
  top: 4px;
  font-size: 0.9em;
}

#q {
  padding: 10px;
}


.tags {
  font-size: 1.1em;
  line-height: 200%;
}

.input-group {
  width: 100%;
}

#columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
}

.pin {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;

	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.pin img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}

#columns:hover .pin:not(:hover) {
	opacity: 0.4;
}

@media (max-width: 960px) {
	#columns {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}


@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}





